// Some new and pretty colors :)

// ANSI
$black: #1e212bff;
$white: #e2fcefff;
$red: #ff2e00ff;
$green: #4d8b31ff;
$yellow: #ffc800ff;
$blue: #3f7cacff;
$purple: #a755c2ff;
$cyan: #40b4f2ff;

// Extras
$gray: #767b91ff;
$pink: #ef476fff;
$indigo: #531fffff;
$orange: #f27a18ff;
