@import "./fonts";

html,
body {
  overflow: hidden;
}

html,
body,
#root,
.App {
  padding: 0;
  margin: 0;
  height: 100%;
  min-height: 100%;
  max-height: 100%;
}

body {
  margin: 0;
  font-family: $fontStack;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: $monoFontStack;
}
